* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.background {
    height: 100vw;
    width: 800px;
    background-color:rgb(93, 255, 161);
}

.green {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    top: 60px;
    margin-left: 60px;
}

.y {
    height: 50px;
    width: 20px;
    background-color: rgb(93, 255, 161);

}
.green1 {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
    margin-left: 73%;
}